img {
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width:404px;
	border: 2px solid black;
   }
   
   #gift{
	   <a href="https://www.fg-a.com/autos.htm" target="_blank"><img src="https://content.screencast.com/users/fg-a/folders/autos/media/c3ac6173-2d3a-423e-9acd-69c2cba25c29/car24.gif" width="280" height="123" border="0" alt="Car Clipart" /></a><p></p>
   }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

  


